@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic");
html {
  font-size: 15px; }

body {
  background-color: #eef3f5;
  font-family: "Roboto", sans-serif; }

.logo_img {
  content: url(../img/logo-small-new4.png); }

nav {
  background-color: #fff;
  min-height: 115px !important; }

.navbar-nav a {
  text-transform: uppercase; }

.bold_a, .navbar-nav > a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0 15px; }

.row_top_slide {
  max-height: 100%;
  height: 100%; }

.row_circle {
  margin: 0;
  background-color: #fff; }

#selectSircle {
  padding-top: 30px;
  padding-bottom: 20px; }

.row_content ul {
  list-style: none;
  padding-inline-start: 20px; }

.sircle {
  display: inline-block;
  width: 130px;
  height: 130px; }
  .sircle a {
    display: block;
    width: 130px;
    height: 130px;
    margin: 0; }

.sircle-1 {
  margin-right: 35px;
  background: url(../img/sircle1-1.png); }

.sircle-1:hover {
  background: url(../img/sircle1-2.png); }

.sircle-2 {
  margin-right: 35px;
  background: url(../img/sircle2-1.png); }

.sircle-2:hover {
  background: url(../img/sircle2-2.png); }

.sircle-3 {
  margin-right: 35px;
  background: url(../img/sircle3-1.png); }

.sircle-3:hover {
  background: url(../img/sircle3-2.png); }

.sircle-4 {
  margin-right: 35px;
  background: url(../img/sircle4-1.png); }

.sircle-4:hover {
  background: url(../img/sircle4-2.png); }

.sircle-5 {
  margin-right: 35px;
  background: url(../img/sircle5-1.png); }

.sircle-5:hover {
  background: url(../img/sircle5-2.png); }

.client_h1 {
  background-color: #fff;
  margin: 0; }
  .client_h1 h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; }

.row_txt {
  padding: 0 45px 25px 45px;
  margin: 0;
  background-color: #fff; }

.img_txt img {
  content: url("../img/img_txt.jpg");
  max-width: 100%;
  height: auto; }

.col_txt {
  text-align: justify; }

.row_carousel {
  margin: 0;
  padding-bottom: 30px;
  background-color: #fff; }

.row_carousel .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -25px; }

/* The colour of the indicators */
.row_carousel .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 19px;
  height: 0px; }

.row_carousel .carousel-indicators .active {
  background: #707070; }

.carousel_card {
  padding: 9px 9px;
  margin-left: 22px;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 2px solid rgba(0, 0, 0, 0.125); }
  .carousel_card img {
    display: block;
    float: left;
    margin-right: 21px;
    width: 100px; }

.card_txt p {
  font-weight: 500; }

.carousel_card1 {
  margin-left: 0; }

.row_map {
  background-color: #fff;
  margin: 0; }

.col_map {
  margin: 11px 0 20px 0; }

footer {
  background-image: url(../img/chruch.png);
  background-repeat: repeat-repeat;
  padding: 11px 15px; }
  footer i {
    padding-top: 7px;
    font-size: 15px; }
  footer span {
    font-size: 15px;
    font-weight: 500; }
  footer small {
    font-size: 12px; }

.fa-home {
  padding-bottom: 12px; }

@media all and (max-width: 1200px) {
  .bold_a, .navbar-nav > a {
    font-size: 15px;
    font-weight: 700;
    margin: 0 7px; }

  .row_txt {
    padding: 10px 22px 25px 22px; }

  .carousel_card {
    padding: 7px 7px;
    margin-left: 22px; }
    .carousel_card img {
      margin-right: 15px;
      width: 80px;
      height: 75%; } }
@media all and (max-width: 992px) {
  .logo_img {
    content: url(../img/logo-small-newer1.png); }

  nav {
    min-height: 95px !important; }

  .bold_a, .navbar-nav > a {
    margin: 0 2px; }

  .content {
    padding: 8px 0;
    line-height: 23px; }
    .content p {
      line-height: 23px; }

  .sircle {
    width: 90px;
    height: 90px; }
    .sircle a {
      width: 90px;
      height: 90px; }

  .sircle-1, .sircle-2, .sircle-3, .sircle-4, .sircle-5 {
    background-size: 90px; }

  .sircle-1:hover, .sircle-2:hover, .sircle-3:hover,
  .sircle-4:hover, .sircle-5:hover {
    background-size: 90px; }

  .img_txt img {
    content: url("../img/img_txt-sm.jpg"); }

  .carousel_card {
    padding-right: 0px;
    margin-left: 14px; }
    .carousel_card img {
      margin-right: 7px;
      width: 61px; }

  .card_txt p {
    font-size: 0.8rem;
    font-weight: 400; } }
@media all and (max-width: 767px) {
  .row_txt {
    padding: 0 0px 25px 0px; }

  .row_top_slide {
    display: none; }

  .row_circle {
    display: none; }

  .row_top_slide iframe {
    width: 100%;
    height: 250px; }

  .logo_img {
    content: url(../img/logo-small-phone.png); }

  .bold_a, .navbar-nav > a {
    margin: 0; }

  .row_content ul {
    list-style: none;
    padding-inline-start: 5px; }

  .col-md-12 h1 {
    font-size: 2rem; }

  .row_carousel .carousel-indicators {
    bottom: -15px; }

  .carousel_card {
    padding-right: 0px;
    margin-left: 0;
    margin-bottom: 11px; }
    .carousel_card img {
      margin-right: 21px;
      width: 100px; }

  .card_txt p {
    font-size: 1rem;
    font-weight: 500; }

  .row_map, .col_map {
    padding: 0; }

  .row_foot {
    padding: 0 10px;
    line-height: 35px; }

  footer {
    padding: 7px 15px; }
    footer i {
      font-size: 13px; }
    footer span {
      font-size: 13px;
      font-weight: 500; }
    footer small {
      font-size: 11px; } }

/*# sourceMappingURL=main_in.css.map */
