@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic");
html {
  font-size: 14px; }

body {
  background-color: #eef3f5;
  font-family: "Roboto", sans-serif; }

.container {
  padding: 0; }

#img_nav, #my_nav, .navbar-brand {
  padding: 0; }

#img_nav {
  padding: 9px 0 8px 0px;
  min-height: auto !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  #img_nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: end; }
    #img_nav ul li {
      padding: 0;
      margin: 0;
      list-style: none; }
      #img_nav ul li a {
        text-decoration: none;
        font-family: inherit;
        font-weight: 500; }

.ul_link a {
  letter-spacing: 0.8px; }

.ukr_link:hover, .rus_link:hover, .eng_link:hover {
  color: #000; }

.rus_link, .eng_link {
  color: rgba(0, 0, 0, 0.5); }

.ukr_link {
  color: rgba(0, 0, 0, 0.8); }

#my_nav {
  min-height: auto !important;
  padding: 15px 0 15px 0; }

.logo_img {
  content: url(../img/logo/logo_1-2.svg);
  min-width: 400px !important;
  max-width: 400px !important;
  width: 400px; }

nav {
  background-color: #fff;
  min-height: 115px !important; }

.navbar-nav a {
  text-transform: uppercase; }

.bold_a, .navbar-nav > a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0 15px; }

.row_img_top {
  width: 100%;
  margin: 0;
  max-height: 220px;
  height: 220px;
  background-image: url(../img/top_img/row_img2.jpg);
  background-position: 50% 49px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  .row_img_top > .col {
    width: 90%;
    padding: 0 44px;
    margin: 0 auto; }
    .row_img_top > .col h1 {
      font-size: 40px;
      width: 70%;
      color: white;
      font-weight: 500;
      line-height: 46px;
      letter-spacing: 1px;
      word-spacing: 3px;
      transform: scale(1, 1.4); }

.row_content {
  margin: 0;
  background-color: #fff;
  padding: 10px 0 0 15px; }
  .row_content ul {
    line-height: 25px; }
    .row_content ul li {
      font-size: 15px; }

.content {
  padding: 15px 20px;
  line-height: 25px; }

footer {
  background-image: url(../img/chruch.png);
  background-repeat: repeat-repeat;
  padding: 11px 15px; }
  footer i {
    padding-top: 7px;
    font-size: 15px; }
  footer span {
    font-size: 15px;
    font-weight: 500; }
  footer small {
    font-size: 12px; }

.fa-home {
  padding-bottom: 12px; }

@media all and (max-width: 1200px) {
  .container {
    max-width: 100%; }

  .logo_img {
    min-width: 380px !important;
    max-width: 380px !important;
    width: 380px; }

  .bold_a, .navbar-nav > a {
    font-size: 15px;
    font-weight: 700;
    margin: 0 7px; } }
@media all and (max-width: 992px) {
  .logo_img {
    min-width: 300px !important;
    max-width: 300px !important;
    width: 300px; }

  nav {
    min-height: 95px !important; }

  .bold_a, .navbar-nav > a {
    margin: 0 2px; }

  .content {
    padding: 8px 0;
    line-height: 23px; }
    .content p {
      line-height: 23px; } }
@media all and (max-width: 767px) {
  .row_img_top {
    width: 100%;
    height: 195px; }
    .row_img_top .col > h1 {
      font-size: 30px;
      width: 80%;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 1px;
      word-spacing: 3px;
      transform: scale(1, 1.5); }

  .logo_img {
    min-width: 290px !important;
    max-width: 290px !important;
    width: 290px; }

  .text-center-sm {
    text-align: center !important; }

  .bold_a, .navbar-nav > a {
    margin: 0; }

  ul {
    padding-inline-start: 15px;
    line-height: 25px; }
    ul li {
      font-size: 15px; }

  footer {
    padding: 7px 15px; }
    footer i {
      font-size: 13px; }
    footer span {
      font-size: 13px;
      font-weight: 500; }
    footer small {
      font-size: 11px; } }
@media all and (max-width: 576px) {
  .logo_img {
    min-width: 250px !important;
    max-width: 250px !important;
    width: 250px; } }
@media all and (max-width: 360px) {
  #img_nav {
    padding: 2px 0 3px 0px; }

  #my_nav {
    padding: 10px 0 10px 0; }

  .ul_link {
    letter-spacing: none; }

  .ukr_link, .rus_link, .eng_link {
    font-size: 0.8rem; }

  .logo_img {
    min-width: 220px !important;
    max-width: 220px !important;
    width: 220px; } }
@media all and (max-width: 320px) {
  .logo_img {
    min-width: 190px !important;
    max-width: 190px !important;
    width: 190px; }

  .dropdown-item {
    padding-left: 10px;
    padding-right: 0px; }

  .dropdown-menu a {
    font-size: 14px; } }

/*# sourceMappingURL=structure.css.map */
